.active1 {
    background-color: #0e2954 !important; 
    /* color: rgb(0, 0, 0);
    border-color: #007bff; */
  }
  
  .active1 h6 {
    color: rgb(255, 255, 255) !important;
  }
    .active1 p {
    color: #fffdfd !important; 
  }