.bag-primary {
  background-color: #00629B !important;
}

.text-cl-primary {
  color: #00629B !important;
}

.bag-secondary {
  background-color: #4CB9E7 !important;
}


.text-cl-secondary {
  color: #4CB9E7 !important;
}

body {
  background-color: #F8F9FA !important;
}

.bg-third {
  background-color: #0E2954 !important;
}

.text-third {
  color: #0E2954 !important;
}

/* .form-control{
  height: 45px;
} */

.form-control:focus {
  border-color: #00629B !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 98, 155, 0.25) !important;
  /* Updated to match the border color */
  transition: border-color 0.3s ease;
}

/* .form-select{
  height: 45px;
} */

.form-select:focus {
  border-color: #00629B !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 98, 155, 0.25) !important;
  /* Updated to match the border color */
  transition: border-color 0.3s ease;
}

.body-bag-primary {
  background-color: #F8F9FA !important;
}

.body-bag-secondary {
  background-color: #E9ECEF !important;
}

.common-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* CSS for the custom scroll bar */
.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.custom-pagination {
  background-color: green !important;
  color: white !important;
  border-color: green !important;
}

/* Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
}

.custom-scrollbar:hover {
  scrollbar-width: thin;
  /* Show scrollbar for Firefox on hover */
}

/* Webkit browsers (Chrome, Safari) */
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width as needed */
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
  background: #e0e0e0;
  /* Track color */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Thumb color */
  border-radius: 10px;
  /* Optional: make the thumb rounded */
  border: 2px solid #e0e0e0;
  /* Match track color for better look */
}

.table-container {
  height: 620px;
}

.common-serach-model {
  background-color: #F8F9F9;
}

.common-serach-model:hover {
  background-color: #E5E7E9;
}

.common-transition {
  transition: transform 0.3s ease, color 0.3s ease;
}

.common-transition:hover {
  transform: scale(1.03);
}

.common-member-container {
  background-color: white !important;
}

.common-member-container:hover {
  background-color: #F0F5FC !important;
}

.delete-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.delete-button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);

}