.bag-primary {
  background-color: #00629B !important;
}

.text-cl-primary {
  color: #00629B !important;
}

.bag-secondary {
  background-color: #4CB9E7 !important;
}

.text-cl-secondary {
  color: #4CB9E7 !important;
}

body{
  background-color: #F8F9FA !important;
}

.bg-third {
  background-color: #0E2954 !important;
}

.text-third {
  color: #0E2954 !important;
}

.form-control{
  height: 45px;
}

.form-control:focus{
  border-color: #00629B !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 98, 155, 0.25) !important; /* Updated to match the border color */
  transition: border-color 0.3s ease;
}

.form-select{
  height: 45px;
}

.form-select:focus{
  border-color: #00629B !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 98, 155, 0.25) !important; /* Updated to match the border color */
  transition: border-color 0.3s ease;
}

.body-bag-primary {
  background-color: #F8F9FA !important;
}

.body-bag-secondary {
  background-color: #E9ECEF !important;
}
